html, body {
  margin: 0;
  padding: 0;
}

.container {
    margin: auto;
    background-color: rgba(18, 18, 18);
    width: 50%;
    height: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 40px;
    border: 2px solid rgba(87, 86, 87);
    text-align: center;
  }
  
  .title {
    border: 2px solid rgba(87, 86, 87);
    border-radius: 5px;
    padding: 10px;
    font-size: 45px;
    font-weight: bold;
    color: rgba(223, 223, 223);
    background-color: rgba(26, 24, 25);
  }
  
  .subtitle {
    margin: auto;
    font-size: 13px;
    color: rgba(223, 223, 223);
    margin-bottom: 20px;
    width: auto;
  }
  
  .date {
    color: rgba(223, 223, 223);
    background-color: rgba(26, 24, 25);
    border: 2px solid rgba(87, 86, 87);
    border-radius: 5px;
    width: 100%;
  }
  
  .input-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .date-input {
    flex: 1;
    margin-right: 15px;
    margin-left: 15px;
    width: 100%;
  }
  
  .ticker-input {
    margin-bottom: 20px;
    width: auto;
  }
  
  .input-field {
    font-size: 1rem;
    font-weight: 600;
    line-height: 38px;
    border: 1px solid #bbb;
    padding: auto;
    width: 100%;
    border: 1px solid #bbb;
  }
  
  .search-button {
    border: 1px solid #bbb;
    font-size: 1rem;
    margin-bottom: 20px;
    color:rgba(223, 223, 210)
  }